<% layout("layout/boilerplate") -%>
<div class="row">
  <div class="col-6">
    <div class="card text-center">
      <img
        src="<%= book.imgUrl %>"
        class="card-img-top offset-3"
        alt="..."
        style="width: 18rem"
      />
      <div class="card-body">
        <h5 class="card-title"><%= book.title %></h5>
        <p class="card-text"><%= book.synopsis %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Author: <%= book.author %></li>
        <li class="list-group-item">Category: <%= book.category %></li>
        <li class="list-group-item">Number of pages: <%= book.numOfPages%></li>
      </ul>
      <div class="card-body">
        <a href="/books/<%= book._id %>/edit" class="btn btn-warning">Edit</a>
        <form
          class="d-inline ms-4"
          action="/books/<%= book._id %>?_method=DELETE"
          method="post"
        >
          <button class="btn btn-danger">Delete</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-6">
    <form
      class="form-control mb-3 needs-validation"
      action="/books/<%= book._id %>/reviews"
      method="post"
      novalidate
    >
      <div class="mb-3">
        <label for="rating" class="form-label"
          >Rate the book between 1 and 10
        </label>
        <input
          class="form-control"
          type="number"
          name="review[rating]"
          id="rating"
          min="1"
          max="10"
          required
        />
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">
          Please enter a valid number between 1 and 10
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="comment">Comment on the book</label>
        <textarea
          class="form-control"
          name="review[comment]"
          id="text"
          cols="30"
          rows="5"
          required
        ></textarea>
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">
          Please provide a review or comment about the book
        </div>
      </div>
      <button class="btn btn-success">Add review</button>
    </form>
    <% for(let r of book.reviews){ %>

    <div class="card mb-3">
      <div class="card-body">
        <h6 class="card-subtitle mb-2 text-body-secondary">
          <%= r.rating %>/10
        </h6>
        <p class="card-text"><%= r.comment %></p>
        <form
          action="/books/<%= book._id %>/reviews/<%= r._id %>?_method=DELETE"
          method="post"
        >
          <button class="btn btn-sm btn-danger">Delete</button>
        </form>
      </div>
    </div>
    <% } %>
  </div>
</div>
