<% layout("layout/boilerplate") -%>
<div class="row col-6 offset-3 mt-4">
  <h1><%= c %> books</h1>
  <form action="/books" method="get">
    <section>
      <label for="category">filter by: </label>
      <select name="category" id="category">
        <option disabled selected>-- Select a category --</option>
        <% for(let c of categories) {%>
        <option value="<%= c %>"><%= c %></option>
        <% } %>
      </select>
      <button>Filter</button>
    </section>
  </form>
  <ul>
    <% for(let book of books) { %>
    <li><%= book.title %> &nbsp;<a href="/books/<%= book._id %>">View</a></li>
    <% } %>
  </ul>
  <div>
    <a href="/books/new">+ Add a new book</a>
  </div>
</div>
